.App {
  text-align: center;

  .navbar {
    text-align: right;
    background: white;
    position: fixed;
    width: 100%;    
    height: 3%;
    top: 0px;


    .column {
      padding: 20px;
      text-align: right;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      color: #B2B2B2;
      font-size: 15px;
    }
  }
}

