.soc {
    position: absolute;
    bottom:0;
    right:3em;
    padding: 1em;
    display: block;
    list-style: none;
    text-align: right;
    z-index: 3;
  }
  .soc li {
    display: inline-block;
  }
  .soc a, .soc svg {
    display: block;
  }
  .soc a {
    position: relative;
    height: 50px;
    height: 3rem;
    width: 50px;
    width: 3em;
  }
  .soc svg {
    height: 100%;
    width: 100%;
  }
  
  .icon-1:hover, .icon-2:hover, .icon-3:hover, .icon-4:hover, .icon-5:hover, .icon-6:hover, .icon-7:hover, .icon-8:hover, .icon-9:hover, .icon-10:hover, .icon-11:hover, .icon-12:hover, .icon-13:hover, .icon-14:hover, .icon-15:hover, .icon-16:hover, .icon-17:hover, .icon-18:hover, .icon-19:hover, .icon-20:hover, .icon-21:hover, .icon-22:hover, .icon-23:hover, .icon-24:hover, .icon-25:hover, .icon-26:hover, .icon-27:hover, .icon-28:hover, .icon-29:hover, .icon-30:hover, .icon-31:hover {
    border-radius: 100%;
    color: white;
    fill: white;
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
  
  
  .icon-15 {
    fill: white;
  }
  .icon-15:hover {
    background: #B2B2B2;
  }

  .icon-26 {
    fill: white;
  }
  .icon-26:hover {
    background: #B2B2B2;
  }
  
  .icon-28 {
    fill: white;
  }
  .icon-28:hover {
    background: #B2B2B2;
  }
  
  .bookDiv{
    background-color: black;
  }
  
  