#Nav{
    background-image: url("/DSC_0023.JPG");
    background-repeat: repeat;
    height: 950px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -100;
    overflow: hidden;
    background-size: cover;
}
#Activities{
}   