.homeTitle {
    width: 100%;
    height: 100%;


    p {
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 55px;
        margin-top: 400px;
    }
}

