.activitiesSection {
    margin: 5%;

    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        color: #B2B2B2;
        text-align: center;
    }
    p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        color: #B2B2B2;
        font-size: 15px;
        line-height: 20pt;
        text-align: center;
        padding: 2% 10% 5% 10%;

    }
}